<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huaju.dao.ActivityMapper">
    <!--public List<Activity> ActivityList();-->
    <resultMap id="ActivityListMap" type="Activity">
        <id column="actid" property="actid"/>
        <result column="actime" property="actime"/>
        <result column="ctaid" property="ctaid"/>
        <result column="buildingid" property="buildingid"/>
        <result column="totalnum" property="totalnum"/>
        <result column="parnum" property="parnum"/>
        <result column="actcontent" property="actcontent"/>
        <result column="actnote" property="actnote"/>
        <association property="build" javaType="Build">
            <id column="buildingid" property="buildingid"/>
            <result column="building" property="building"/>
        </association>
    </resultMap>
<select id="ActivityList" resultType="Activity">
    SELECT * FROM activity
</select>
    <!--public void AddActivity(Activity activity);-->
    <insert id="AddActivity" parameterType="Activity">
        INSERT INTO activity (actid,actime,ctaid,buildingid,actcontent,totalnum,painum,actnote) VALUE (#{actid},#{actime},#{ctaid},#{buildingid},#{actcontent},#{totalnum},#{painum},#{actnote})
    </insert>

    <!--public List<Activity> selectActivityByBuild(int id);-->
    <select id="selectActivityByBuild" resultType="Activity" parameterType="int">
        SELECT * FROM activity WHERE buildingid=#{_parameter}
    </select>

    <!--public List<Activity> selectActivityByCta(int id);-->
<select id="selectActivityByCta" resultType="Activity" parameterType="int">
    SELECT * FROM activity WHERE ctaid=#{_parameter}
</select>

    <!--public Activity selecttotal(int id);-->
<select id="selecttotal" resultType="Activity" parameterType="int">
    SELECT * FROM WHERE actid=#{_parameter}
</select>

</mapper>