<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huaju.dao.BuildMapper">
    <!--//添加楼盘-->
    <!--public void setBuild(Build build);-->
    <insert id="setBuild" parameterType="Build">
        insert into build (Building,Ctaid,Province,City,barea,Bdetail,Bpicture,Tenement,Btype,Bline,Comid,character,bPerprice,bTotalprice)
    </insert>
</mapper>