<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huaju.dao.CtaMapper">
    <!--public List<Cta> AllCta();-->
<select id="AllCta" resultType="Cta">
    SELECT * FROM cta
</select>
    <!--public Cta CtaByActivity(int ctaid);-->

    <select id="CtaByActivity" resultType="Cta" parameterType="int">
        SELECT * FROM cta WHERE ctaid=#{_parameter}
    </select>
    <!--//按用户名查询咨询师(张宝)-->
    <!--public boolean selectCtaByName(String ctaname);-->
    <select id="selectCtaByName" parameterType="String" resultType="Cta">
        SELECT * from cta where ctaname=#{_parmeter}
    </select>
    <!--//添加咨询师(张宝)-->
    <!--public boolean addCta(Cta cta);-->
    <insert id="addCta" parameterType="Cta">
        INSERT into cta (ctaname,catimg,ctaphone,ctatime,education,intro,ctarelname,ctapassword) VALUES (#{ctaname},#{catimg},#{ctaphone},#{ctatime},#{education},#{intro},#{ctarelname},#{ctapassword})
    </insert>
</mapper>