<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huaju.dao.FavorMapper">
    <!--public List<Favor> selectFavor(Favor favor);-->
  <select id="selectFavor" parameterType="Favor" resultType="Favor">
      select * from favor
      <where>
          <if test="favorid neq null">
              and favorid=#{favorid}
          </if>
          <if test="userid neq null">
              and userid=#{userid}
          </if>
          <if test="commentid neq null">
              and commentid=#{commentid}
          </if>
          <if test="favortype neq null">
              and favortype=#{favortype}
          </if>
      </where>
  </select>

    <!--public boolean deleteFavorByFavorid(Integer id);-->
    <delete id="deleteFavorByFavorid" parameterType="int">
        delete from favor where favorid=#{_parameter}
    </delete>
    <!--public boolean deleteFavorByUseridAndCommentid(Favor favor);-->
    <delete id="deleteFavorByUseridAndCommentid" parameterType="Favor">
      delete from favor where userid=#{userid} and commentid=#{userid} and favortype=#{favortype}
    </delete>
    <!--public boolean insertFavor(Favor favor);-->
    <insert id="insertFavor" parameterType="Favor">
        insert into favor(commentid,userid,favortype) VALUES (#{commentid},#{userid},#{favortype})
    </insert>
</mapper>