<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huaju.dao.HouseMapper">
    <!--========房子信息列表=========================================================================================================-->
    <!--//根据楼盘id查找楼房信息   楼盘id从楼户表从获取     一对一-->
    <!--public List<House> showHouseList(int buildingid);-->
    <resultMap id="showHouseListMap" type="House">
        <id column="houseid" property="houseid"/>
        <result column="hname" property="hname"/>
        <result column="hmoney" property="hmoney"/>
        <result column="harea" property="harea"/>
        <result column="hsalestatus" property="hsalestatus"/>

        <result column="htypeimg" property="htypeimg"/>
        <result column="hperprice" property="hperprice"/>
        <result column="updatename" property="updatename"/>
        <result column="forward" property="forward"/>
        <result column="htype" property="htype"/>
        <result column="payment" property="payment"/>
        <result column="monthpay" property="monthpay"/>
        <result column="analysis" property="analysis"/>

        <association property="buildType" javaType="BuildType">
            <id column="butypeid" property="butypeid" />
            <result column="buildingid" property="buildingid"/>
        </association>
    </resultMap>
    <select id="showHouseList" resultMap="showHouseListMap" parameterType="int">
       SELECT h.houseid,h.hname,h.hmoney , h.harea , h.hsalestatus,h.htypeimg,h.hperprice,h.updatename,h.forward,h.htype,h.payment,h.monthpay ,h.analysis from house h,buildtype b where h.butypeid=b.butypeid AND b.buildingid=#{_parameter}
    </select>
    <!--//根据楼盘id查找楼房信息的全部信息(张宝)-->
    <!--public List<House> selectHouseListBybuildingid(int buildingid);-->
    <select id="selectHouseListBybuildingid" resultType="House" parameterType="int">
        SELECT * from house h,buildtype b where h.butypeid=b.butypeid AND b.buildingid=#{_parameter}
    </select>

<!--========添加操作=================================================================================================================-->
    <!--//    添加house信息-->
    <!--  public void addHouseInfoZYJ(House house);-->
<insert id="addHouseInfoZYJ" parameterType="House" useGeneratedKeys="true" keyProperty="houseid">
      insert into house values(#{houseid},#{hname},#{hmoney},#{htypeimg},#{hperprice},#{updatename},#{forward},#{harea},#{htype},#{hsalestatus},#{payment},#{monthpay},#{analysis},#{doorid},#{butypeid});
</insert>

    <!--//查询出居室id对应的楼户id-->
    <!--public int searchHouseBtypeid(int btypeid);-->
    <select id="searchHouseBtypeid" resultType="int">
        SELECT butypeid FROM buildtype WHERE typeid=#{param1} AND Buildingid=#{param2}
    </select>




<!--==========房子详细信息=============================================================================================================-->
    <!--显示house和房型Door的信息-->
    <resultMap id="showHouseDoorAllInfoMap" type="House">
        <id column="houseid" property="houseid"/>
        <result column="hname" property="hname" />
        <result column="hmoney" property="hmoney" />
        <result column="htypeimg" property="htypeimg" />
        <result column="hperprice" property="hperprice" />
        <result column="updatename" property="updatename" />
        <result column="forward" property="forward" />
        <result column="harea" property="harea" />
        <result column="htype" property="htype" />
        <result column="hsalestatus" property="hsalestatus" />
        <result column="payment" property="payment" />
        <result column="monthpay" property="monthpay" />
        <result column="analysis" property="analysis" />
        <!--房型表-->
       <association property="door"  javaType="Door">
           <id column="doorid" property="doorid"></id>
           <result column="doorname" property="doorname"/>
       </association>
    </resultMap>

    <!--public House showHouseDoorAllInfo(int houseid);-->
    <select id="showHouseDoorAllInfo" resultMap="showHouseDoorAllInfoMap" parameterType="int">
        select h.* , d.doorname from house h,door d WHERE h.doorid=d.doorid AND  h.houseid=#{_parameter}
    </select>



    <!--//    显示户型信息   house 和 Type 的关系-->
    <resultMap id="showHouseTypeInfoMap" type="House">
        <id column="houseid" property="houseid"/>
        <association property="buildType" javaType="BuildType">
            <id column="butypeid" property="butypeid"/>
            <result column="typeid" property="typeid"/>

            <association  property="type" javaType="Type">
                <id column="typeid" property="typeid"/>
                <result column="typename" property="typename"/>
            </association>

        </association>
    </resultMap>
    <!--public House showHouseTypeInfo(int houseid);-->
    <select id="showHouseTypeInfo" resultMap="showHouseTypeInfoMap" parameterType="int">
        SELECT t.typename FROM house h , buildtype b , type t WHERE h.butypeid=b.butypeid AND  b.typeid=t.typeid
        AND  h.houseid=#{_parameter}
    </select>

<!--==================删除操作========================================================================================================-->
    <!--//删除house信息-->
    <!--public void removeHouse(int houseid);-->
    <delete id="removeHouse" parameterType="int">
        DELETE FROM  house WHERE houseid=#{_parameter}
    </delete>

<!--=============更新操作=================================================================================================================-->
    <!--//    根据id查询房子信息-->
    <!--public House getHouse(int houseid);-->
   <select id="getHouse" parameterType="int" resultType="House">
       SELECT * from house WHERE houseid=#{_parameter}
   </select>

    <!--//修改商品-->
    <!--public boolean updatehouse(House house);-->
    <update id="updatehouse" parameterType="House" >
        UPDATE  house set
          hmoney=#{hmoney},htypeimg=#{htypeimg},hperprice=#{hperprice},payment=#{payment},monthpay=#{monthpay},updatename=#{updatename},htype=#{htype},
          hsalestatus=#{hsalestatus},analysis=#{analysis}
        WHERE  houseid=#{houseid}
    </update>




    <!--//根据id查询door信息-->
    <resultMap id="perDoorInfoMap" type="House">
        <id column="houseid" property="houseid"></id>
        <result column="doorid" property="doorid"/>
        <association property="door" javaType="Door">
            <id column="doorid" property="doorid"/>
            <result column="doorname" property="doorname"></result>
        </association>

    </resultMap>
    <!--public  void  perDoorInfo(int doorid);-->
    <select id="perDoorInfo" resultMap="perDoorInfoMap" parameterType="int">
        select door.doorname from door,house WHERE door.doorid=house.doorid AND house.doorid=#{_parameter};
    </select>


</mapper>